.room-structure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.room-viewer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.threejs-container {
    width: 80%;
    height: 500px;
    border: 1px solid #000;
    background-color: transparent;
}
